In [254]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
plt.style.use('seaborn')

In [2]:
df=pd.read_csv('broadway.csv')

In [8]:
df.columns

Index(['Attendance', 'Capacity', 'Day', 'Full', 'Gross', 'Gross Potential',
       'Month', 'Name', 'Performances', 'Theatre', 'Type', 'Year'],
      dtype='object')

In [19]:
df['Name'].unique()

array(['Tru', 'Miss Saigon', 'A Streetcar Named Desire 92',
       'The Sisters Rosensweig', 'Beauty And The Beast',
       'A Little More Magic', 'Broken Glass', 'Show Boat',
       'Sunset Boulevard', 'The Shadow Box', 'Uncle Vanya',
       "Smokey Joe'S Cafe", 'Having Our Say', 'Hamlet 95',
       'The Rose Tattoo', 'A Month In The Country', 'Arcadia', 'Cats',
       'Chronicle Of A Death Foretold',
       'How To Succeed In Business Without Really Trying',
       'Indiscretions', 'Jackie Mason:  Politically Incorrect',
       'Kiss Of The Spider Woman', 'Les Misrables',
       'Love! Valour! Compassion!', 'Tommy', 'Buttons On Broadway',
       "The Play'S The Thing", 'Company 95', 'Moon Over Buffalo',
       'Garden District', 'Patti Lupone On Broadway', 'Victor/Victoria',
       'Hello, Dolly!', 'The Tempest', 'Master Class', 'Sacrilege',
       'Danny Gans On Broadway', 'Holiday', 'School For Scandal',
       'Defending The Caveman', 'Grease', 'Bus Stop',
       'A Funny Thing Happened On The Way To The Forum',
       "A Midsummer Night'S Dream", 'Love Thy Neighbor',
       'A Delicate Balance', 'Big', 'Bring In Da Noise, Bring In Da Funk',
       'Buried Child', 'An Ideal Husband', 'Rent', 'Seven Guitars',
       'State Fair', 'Tartuffe 96', 'The King And I 96',
       'The Phantom Of The Opera', 'A Thousand Clowns', 'Hughie',
       'Summer And Smoke', 'Sex And Longing', 'Skylight', 'Taking Sides',
       'Chicago', 'Present Laughter', "It'S A Slippery Slope",
       'The Rehearsal', 'God Said "Ha"', 'Juan Darien',
       'Once Upon A Mattress', 'Dreams And Nightmares', 'Three Sisters',
       'Men Are From Mars, Women Are From Venus', 'Stanley',
       'The Last Night Of Ballyhoo', 'Mandy Patinkin', 'Play On!',
       'Annie', 'Barrymore', 'Dream: The Johnny Mercer Musical',
       'The Young Man From Atlanta', 'An American Daughter',
       'Jekyll & Hyde', "A Doll'S House", 'Steel Pier', 'Titanic',
       'The Gin Game', 'The Little Foxes', 'The Life', 'Candide',
       'London Assurance', 'King David', "Forever Tango '97", '1776',
       'Side Show', 'Triumph Of Love', 'Jackie: An American Life',
       'The Scarlet Pimpernel', 'The Lion King', 'Ivanov', 'Proposals',
       'Street Corner Symphony', 'The Cherry Orchard',
       'The Old Neighborhood', 'Eugene Onegin', 'The Diary Of Anne Frank',
       'A View From The Bridge', 'The Sunshine Boys', 'The Capeman',
       'Ragtime', 'Patti Labelle On Broadway', 'Freak',
       'The Sound Of Music', 'Art', 'Cabaret 98', 'Ah, Wilderness',
       'The Deep Blue Sea', 'Golden Child', 'The Chairs',
       'The Herbal Bed', 'Wait Until Dark', 'High Society', 'Honour',
       'The Beauty Queen Of Leenane', 'The Judas Kiss', 'Side Man',
       'Twelfth Night', 'An Evening With Jerry Herman', 'Jerry Seinfeld',
       'Colin Quinn - An Irish Wake', 'Swan Lake',
       'More To Love: A Big Fat Comedy', 'Footloose',
       'Getting And Spending', 'Little Me',
       'Mandy Patinkin In Concert: Mamaloshen', "A Mom'S Life",
       'Aznavour', "I'M Still Here...Damn It!", 'On The Town', 'Parade',
       'Electra', "Fool Moon '98", 'Peter Pan 98', 'The Blue Room',
       'Fosse', 'Death Of A Salesman 99',
       "You'Re A Good Man, Charlie Brown", 'Annie Get Your Gun',
       'Night Must Fall', 'Not About Nightingales', 'Band In Berlin',
       'The Lion In Winter', 'Via Dolorosa', 'Closer', 'The Civil War',
       'The Weir', "Amy'S View", 'Marlene', 'Ring Round The Moon',
       "The Gershwins' Fascinating Rhythm", 'The Iceman Cometh 99',
       "It Ain'T Nothin' But The Blues", 'The Lonesome West',
       'Voices In The Dark', 'Kat And The Kings', 'Epic Proportions',
       'Dame Edna: The Royal Tour', 'Saturday Night Fever',
       'The Rainmaker', 'Kiss Me, Kate', 'Marie Christine',
       'Morning, Noon And Night', 'Putting It Together', 'The Price 99',
       'Swing!', "Tango Argentino '99",
       'Jackie Mason: Much Ado About Everything', 'Minnelli On Minnelli',
       'Waiting In The Wings', 'Amadeus', "James Joyce'S The Dead",
       'Wrong Mountain', 'Squonk', 'True West', 'Aida', 'Contact',
       'Riverdance', 'The Wild Party', 'A Moon For The Misbegotten 00',
       'Copenhagen', 'Jesus Christ Superstar', 'Taller Than A Dwarf',
       'The Ride Down Mt. Morgan', 'Rose', 'The Green Bird',
       "The Real Thing '00", 'The Music Man', 'Uncle Vanya 00',
       'Dirty Blonde', 'Macbeth 00', 'The Man Who Came To Dinner',
       "Gore Vidal'S The Best Man", 'The Full Monty', 'The Dinner Party',
       'Matters Of The Heart', 'Proof',
       "The Tale Of The Allergist'S Wife", 'Betrayal',
       'The Rocky Horror Show', 'Seussical', 'Jane Eyre',
       'The Search For Signs Of Intelligent Life In The Universe 00',
       'A Class Act', 'Design For Living 01', 'Judgment At Nuremberg',
       'The Invention Of Love', 'Follies', 'Bells Are Ringing',
       "One Flew Over The Cuckoo'S Nest", 'Stones In His Pockets',
       'The Producers', 'The Adventures Of Tom Sawyer', 'Blast!',
       "42Nd Street '01", 'King Hedley Ii', 'The Gathering',
       'George Gershwin Alone', 'Major Barbara', 'A Thousand Clowns 01',
       "If You Ever Leave MeI'M Going With You", 'Urinetown',
       'Dance Of Death', 'Hedda Gabler 01', 'Thou Shalt Not',
       'Mamma Mia!', "Sexaholix '01", 'The Women',
       '45 Seconds From Broadway', 'By Jeeves', "Noises Off '01", 'Qed',
       "A Christmas Carol '01", 'Barbara Cook: Mostly Sondheim',
       'An Almost Holy Picture', 'Bea Arthur On Broadway',
       'Elaine Stritch At Liberty', 'The Crucible 02',
       'The Goat, Or Who Is Sylvia?', 'Metamorphoses', 'Oklahoma!',
       "One Mo' Time", 'Sweet Smell Of Success', "Fortune'S Fool",
       'The Smell Of The Kill', 'The Graduate', 'Topdog / Underdog',
       'Thoroughly Modern Millie', "Morning'S At Seven",
       'The Elephant Man', "Into The Woods '02", 'Private Lives 02',
       'The Man Who Had All The Luck', 'The Mystery Of Charles Dickens',
       "I'M Not Rappaport '02", 'Hairspray',
       'Frankie And Johnny In The Claire De Lune',
       'The Boys From Syracuse', 'Amour', 'Say Goodnight, Gracie',
       'Flower Drum Song', "Movin' Out", 'Hollywood Arms', 'Prune Danish',
       'Dance Of The Vampires', 'Def Poetry Jam', 'Dinner At Eight',
       'Man Of La Mancha 02', 'Our Town 02', 'Imaginary Friends',
       'La Bohme', 'Medea 02', 'Tartuffe 03',
       "Ma Rainey'S Black Bottom '03", 'Take Me Out',
       'Vincent In Brixton', 'As Long As We Both Shall Laugh',
       'Urban Cowboy', 'The Play What I Wrote',
       'A Day In The Death Of Joe Egg', 'Life X 3', 'Nine',
       'A Year With Frog And Toad', "Gypsy '03", 'The Look Of Love',
       'Enchanted April', 'Salome', "Long Day'S Journey Into Night 03",
       'Bill Maher: Victory Begins At Home', 'Master HaroldAnd The Boys',
       "Big River '03", 'Avenue Q', 'Little Shop Of Horrors',
       'The Boy From Oz', "Golda'S Balcony", 'The Retreat From Moscow',
       'Cat On A Hot Tin Roof 03', 'Six Dance Lessons In Six Weeks',
       'Wicked', 'The Violet Hour', "Jackie Mason'S Laughing Room Only",
       'The Caretaker 03', 'Henry Iv', 'Never Gonna Dance',
       'Oldest Living Confederate Widow Tells All', 'Taboo',
       'Anna In The Tropics', 'Bobbi Boland', 'Wonderful Town',
       'I Am My Own Wife', "Sexaholix '03", 'Fiddler On The Roof 04',
       'Drowning Crow', 'King Lear', 'Twentieth Century', 'Match',
       'Sly Fox', "Barbara Cook'S Broadway", 'Sixteen Wounded',
       'A Raisin In The Sun', 'Assassins', 'Bombay Dreams', 'Jumpers',
       'Caroline, Or Change', 'Prymate', 'Frozen', 'Sight Unseen',
       "Marc Salem'S Mind Games", 'After The Fall', 'The Frogs',
       "Forever Tango '04", 'Dracula, The Musical', 'Brooklyn',
       'Reckless', 'Twelve Angry Men', 'Laugh Whore', 'The Good Body',
       "'Night Mother", 'Dame Edna:  Back With A Vengeance', 'Democracy',
       'Whoopi', '700 Sundays', "La Cage Aux Folles '04",
       'Pacific Overtures', 'Gem Of The Ocean', 'The Rivals',
       'Little Women', 'Good Vibrations', 'Brooklyn Boy',
       'Dirty Rotten Scoundrels', 'All Shook Up',
       "Monty Python'S Spamalot", 'The Glass Menagerie 05', 'Doubt',
       'Jackie Mason:  Freshly Squeezed', 'Julius Caesar',
       "Who'S Afraid Of Virginia Woolf?", 'Steel Magnolias',
       'The Light In The Piazza', 'A Streetcar Named Desire 05',
       'Chitty Chitty Bang Bang', 'On Golden Pond', 'The Pillowman',
       "Glengarry Glen Ross '05", 'Sweet Charity 05',
       'The 25Th Annual Putnam County Spelling Bee',
       'After The Night And The Music', 'Love / Life',
       'The Constant Wife', 'Mark Twain Tonight!', 'Lennon', 'Primo',
       'The Blonde In The Thunderbird', 'A Naked Girl On The Appian Way',
       'Latinologues', 'Absurd Person Singular', 'In My Life',
       'Jersey Boys', 'Sweeney Todd 05', 'The Odd Couple 05', 'Seascape',
       'Souvenir', 'The Woman In White', 'The Color Purple',
       'A Touch Of The Poet', "Chita Rivera: The Dancer'S Life",
       'Bridge And Tunnel', 'Rabbit Hole', 'The Pajama Game',
       'Barefoot In The Park', 'Ring Of Fire', 'Well', 'Awake And Sing!',
       'Festen', 'Lestat', 'Tarzan', 'The Threepenny Opera',
       'The Wedding Singer', 'Three Days Of Rain', 'The Drowsy Chaperone',
       'The Caine Mutiny Court-Martial', 'The History Boys',
       'Faith Healer', 'Hot Feet', 'Shining City',
       'The Lieutenant Of Inishmore', 'Martin Short: Fame Becomes Me',
       'Kiki & Herb: Alive On Broadway', 'Heartbreak House',
       'Jay Johnson: The Two And Only', 'Losing Louie',
       "A Chorus Line '06", "The Times They Are A-Changin'", 'Butley',
       'Grey Gardens', 'Mary Poppins', 'The Coast Of Utopia',
       "Dr. Seuss' How The Grinch Stole Christmas!", 'Les Misrables 2006',
       'The Little Dog Laughed', 'Company 06', 'The Vertical Hour',
       'Spring Awakening', 'High Fidelity', 'The Apple Tree',
       'Translations 06', "Journey'S End", 'Prelude To A Kiss 2007',
       'Talk Radio', 'Curtains', 'The Pirate Queen',
       'The Year Of Magical Thinking', 'Inherit The Wind 07',
       'A Moon For The Misbegotten 07', 'Frost/Nixon', 'Legally Blonde',
       'Deuce', 'Lovemusik', '110 In The Shade', 'Coram Boy',
       'Radio Golf', 'Xanadu', 'Old Acquaintance', 'Grease 07',
       'Mauritius', 'The Ritz', 'Pygmalion 07', 'A Bronx Tale',
       'Cyrano De Bergerac', 'Young Frankenstein', "Rock 'N' Roll",
       'The Farnsworth Invention', 'August: Osage County', 'Cymbeline',
       "Dr. Seuss' How The Grinch Stole Christmas! 07",
       'The Little Mermaid', 'The Seafarer', 'Is He Dead?',
       'The Homecoming 07', 'November', 'Come Back, Little Sheba',
       'The 39 Steps', "Sunday In The Park With George '08",
       'Passing Strange', 'Cat On A Hot Tin Roof 08', 'In The Heights',
       'South Pacific', "Gypsy '08", 'Cry Baby', 'A Catered Affair',
       'Macbeth 08', 'The Country Girl', 'Les Liaisons Dangereuses 08',
       'Thurgood', 'Boeing-Boeing', 'Top Girls', 'Glory Days',
       'Cirque Dreams: Jungle Fantasy', 'Title Of Show',
       'A Tale Of Two Cities', 'Equus', 'A Man For All Seasons',
       'All My Sons 08', 'The Seagull 08', 'To Be Or Not To Be', '13',
       'Billy Elliot: The Musical', "Speed The Plow '08",
       'Dividing The Estate', 'American Buffalo', 'Shrek The Musical',
       "Irving Berlin'S White Christmas", 'Pal Joey',
       "Liza'S At The Palace", "Slava'S Snowshow", 'The American Plan',
       'Hedda Gabler 09', 'Soul Of Shaolin',
       "You'Re Welcome America. A Final Night With George W. Bush",
       "Guys And Dolls '09", 'The Story Of My Life', '33 Variations',
       "Blithe Spirit '09", 'God Of Carnage', 'Impressionism',
       'West Side Story', 'Exit The King', 'Hair', "Irena'S Vow",
       'Reasons To Be Pretty', "Joe Turner'S Come And Gone '09",
       'Rock Of Ages', 'Next To Normal', 'Mary Stuart',
       'Waiting For Godot', '9 To 5', 'Accent On Youth',
       'The Norman Conquests', 'The Philanthropist',
       'Desire Under The Elms', 'Burn The Floor', 'A Steady Rain',
       'Bye Bye Birdie', "Hamlet '09", 'After Miss Julie',
       'Superior Donuts', 'The Royal Family', 'Memphis',
       'Wishful Drinking', "Brighton Beach Memoirs '09", 'Oleanna',
       "Finian'S Rainbow", 'Fela!',
       'In The Next Room Or The Vibrator Play', "Ragtime '09",
       "Irving Berlin'S White Christmas '09", 'Race',
       'A Little Night Music', "A View From The Bridge '10",
       "Present Laughter '10", 'Time Stands Still', 'The Miracle Worker',
       'Looped', 'Next Fall', 'A Behanding In Spokane', 'All About Me',
       'Come Fly Away', "Lend Me A Tenor '10", 'Million Dollar Quartet',
       'Red', 'The Addams Family', 'Sondheim On Sondheim',
       'American Idiot', 'Promises, Promises', 'Collected Stories',
       'Enron', "La Cage Aux Folles '10", "Fences '10",
       'Everyday Rapture', "Harry Connick, Jr. '10",
       "Mrs. Warren'S Profession", 'Brief Encounter',
       'The Pitmen Painters', 'A Life In The Theatre',
       'Bloody Bloody Andrew Jackson', "La Bete '10", 'Lombardi',
       'Driving Miss Daisy', 'The Scottsboro Boys',
       'Women On The Verge Of A Nervous Breakdown', 'A Free Man Of Color',
       'Colin Quinn: Long Story Short',
       'Rain: A Tribute To The Beatles On Broadway',
       "The Merchant Of Venice '10", 'The Pee-Wee Herman Show', 'Elf',
       'Elling', 'Spider-Man Turn Off The Dark',
       'Donny & Marie: A Broadway Christmas',
       'The Importance Of Being Earnest', 'Good People',
       'That Championship Season', "Arcadia '11", 'Ghetto Klown',
       "How To Succeed In Business Without Really Trying '11",
       'The Book Of Mormon', 'Priscilla Queen Of The Desert',
       "Anything Goes '11", 'Bengal Tiger At The Bagdhad Zoo',
       'Catch Me If You Can', 'Kathy Griffin Wants A Tony',
       'The Motherf**Ker With The Hat', 'War Horse', "Baby It'S You!",
       'High', 'Sister Act', 'Wonderland', "Born Yesterday '11",
       'Jerusalem', 'The People In The Picture',
       "The House Of Blue Leaves '11", 'The Normal Heart',
       "Master Class '11", "Hair '11", "Follies '11", 'Man And Boy',
       'Relatively Speaking', 'The Mountaintop', 'Chinglish', 'Godspell',
       'Other Desert Cities', 'Venus In Fur',
       'Hugh Jackman, Back On Broadway', 'Seminar', 'Bonnie And Clyde',
       "Private Lives '11", 'Lysistrata Jones',
       'On A Clear Day You Can See Forever',
       'An Evening With Patti Lupone And Mandy Patinkin', 'Stick Fly',
       "Porgy And Bess '11", 'The Road To Mecca', 'Wit',
       "Death Of A Salesman '12", "Shatner'S World: We Just Live In It",
       "Jesus Christ Superstar '12", 'Once',
       "Gore Vidal'S The Best Man '12", 'Evita', 'Ghost', 'Newsies',
       'End Of The Rainbow', 'Magic/Bird', 'Clybourne Park',
       "Don'T Dress For Dinner", 'Nice Work If You Can Get It',
       'Peter And The Starcatcher', "A Streetcar Named Desire '12",
       'Leap Of Faith', 'One Man, Two Guvnors', 'The Columnist',
       'The Lyons', 'Harvey', 'Bring It On The Musical', "Fela! '12",
       'Mike Tyson: Undisputed Truth', 'Chaplin',
       'An Enemy Of The People', "Cyrano De Bergerac '12", 'Grace',
       "Who'S Afraid Of Virginia Woolf? '12", "Annie '12",
       "The Heiress '12", 'Running On Empty', 'Scandalous',
       'Frankie Valli And The Four Seasons On Broadway',
       "Glengarry Glen Ross '12", "The Mystery Of Edwin Drood '12",
       'The Performers', 'Dead Accounts', "Elf '12", 'Golden Boy',
       'A Christmas Story', 'The Anarchist', "Picnic '12",
       'The Other Place', "Cat On A Hot Tin Roof '12",
       'Manilow On Broadway', 'Cinderella', 'Ann', 'Hands On A Hardbody',
       'Kinky Boots', 'Lucky Guy', "Breakfast At Tiffany'S", 'Matilda',
       'Vanya And Sonia And Masha And Spike', 'Motown The Musical',
       'Pippin', 'The Assembled Parties', 'The Big Knife', 'The Nance',
       'Orphans', 'The Testament Of Mary', 'The Trip To Bountiful',
       "I'Ll Eat You Last: A Chat With Sue Mengers", "Jekyll & Hyde '13",
       "Macbeth '13", 'The Rascals: Once Upon A Dream', 'First Date',
       "Forever Tango '13", 'Let It Be', 'Soul Doctor',
       'Romeo And Juliet', 'Big Fish', "The Glass Menagerie '13",
       'A Night With Janis Joplin', 'The Winslow Boy', 'A Time To Kill',
       "Betrayal '13", 'The Snow Geese', 'After Midnight',
       'Twelfth Night/Richard Iii',
       "A Gentleman'S Guide To Love And Murder", "Macbeth '13 (Lct)",
       "No Man'S Land/Waiting For Godot", "700 Sundays '13",
       'Il Divo - A Musical Affair', 'Beautiful', 'Machinal',
       'Outside Mullingar', 'Bronx Bombers',
       'The Bridges Of Madison County', 'All The Way', 'Rocky',
       'Mothers And Sons', 'Aladdin', "Les Misrables '14",
       "A Raisin In The Sun '14", 'If/Then', 'Bullets Over Broadway',
       'The Realistic Joneses', 'Act One', "Cabaret '14",
       'Of Mice And Men', 'Hedwig And The Angry Inch',
       "Lady Day At Emerson'S Bar & Grill", 'Violet', 'Casa Valentina',
       'The Velocity Of Autumn', 'The Cripple Of Inishmaan',
       'Holler If Ya Hear Me', 'This Is Our Youth', "It'S Only A Play",
       "You Can'T Take It With You", 'Love Letters 2014',
       'The Country House',
       'The Curious Incident Of The Dog In The Night-Time',
       'On The Town 2014', 'Disgraced', 'The Last Ship',
       'The Real Thing 2014', 'A Delicate Balance 2014', 'Side Show 2014',
       'The River', 'The Elephant Man 2014', 'Honeymoon In Vegas',
       'The Illusionists - Witness The Impossible', 'Constellations',
       'The Temptations And The Four Tops On Broadway',
       'Fish In The Dark', 'On The Twentieth Century', 'The Audience',
       'The Heidi Chronicles 2015', 'An American In Paris',
       'Finding Neverland', 'Hand To God', 'Skylight 2015',
       'The King And I 2015', 'Gigi', 'It Shoulda Been You',
       'Wolf Hall Parts One & Two', 'Doctor Zhivago', 'Fun Home',
       'Something Rotten!', 'The Visit 2015', 'Airline Highway',
       'Living On Love', 'An Act Of God', 'Amazing Grace',
       'Penn & Teller On Broadway', 'Hamilton', 'Spring Awakening 2015',
       'Fool For Love', 'Old Times', 'Dames At Sea', 'The Gin Game 2015',
       'Sylvia', 'Thrse Raquin', 'Allegiance', 'King Charles Iii',
       'On Your Feet!', 'A View From The Bridge 2015', 'China Doll',
       'Misery', 'Lord Of The Dance: Dangerous Games', 'School Of Rock',
       'The Color Purple 2015', 'Fiddler On The Roof 2015',
       'The Illusionists - Live On Broadway', 'Noises Off 2016',
       "Our Mother'S Brief Affair", 'The Humans', 'Blackbird',
       'Disaster!', 'Hughie 2016', 'She Loves Me 2016', 'Bright Star',
       'Eclipsed', 'The Crucible 2016', 'Shuffle Along',
       'American Psycho', 'The Father 2016', 'Waitress',
       'Fully Committed', "Long Day'S Journey Into Night 2016",
       'Tuck Everlasting', 'Paramour', 'An Act Of God 2016', 'Cats 2016',
       'Motown The Musical 2016'], dtype=object)

In [21]:
len(df['Name'].unique())

820

In [26]:
df.loc[df['Name']=='Hamilton']

,Attendance,Capacity,Day,Full,Gross,Gross Potential,Month,Name,Performances,Theatre,Type,Year
29502,9273,100,19,07/19/2015,1288436,110,7,Hamilton,0,Richard Rodgers,Musical,2015
29531,9290,100,26,07/26/2015,1302511,112,7,Hamilton,0,Richard Rodgers,Musical,2015
29559,10619,100,2,08/02/2015,1490816,112,8,Hamilton,0,Richard Rodgers,Musical,2015
29585,10638,101,9,08/09/2015,1255163,94,8,Hamilton,4,Richard Rodgers,Musical,2015
29611,10706,101,16,08/16/2015,1459314,109,8,Hamilton,8,Richard Rodgers,Musical,2015
29636,10708,101,23,08/23/2015,1456753,109,8,Hamilton,8,Richard Rodgers,Musical,2015
29660,10710,101,30,08/30/2015,1548928,116,8,Hamilton,8,Richard Rodgers,Musical,2015
29684,10706,101,6,09/06/2015,1697070,127,9,Hamilton,8,Richard Rodgers,Musical,2015
29708,10703,101,13,09/13/2015,1561640,117,9,Hamilton,8,Richard Rodgers,Musical,2015
29733,10688,101,20,09/20/2015,1545346,116,9,Hamilton,8,Richard Rodgers,Musical,2015
29758,10712,101,27,09/27/2015,1567451,117,9,Hamilton,8,Richard Rodgers,Musical,2015
29784,10705,101,4,10/04/2015,1481172,111,10,Hamilton,8,Richard Rodgers,Musical,2015
29813,10717,101,11,10/11/2015,1678091,126,10,Hamilton,8,Richard Rodgers,Musical,2015
29844,10721,101,18,10/18/2015,1478877,111,10,Hamilton,8,Richard Rodgers,Musical,2015
29877,10708,101,25,10/25/2015,1489233,112,10,Hamilton,8,Richard Rodgers,Musical,2015
29910,10726,101,1,11/01/2015,1595089,119,11,Hamilton,8,Richard Rodgers,Musical,2015
29943,12050,101,8,11/08/2015,1772253,118,11,Hamilton,9,Richard Rodgers,Musical,2015
29977,10738,102,15,11/15/2015,1596311,120,11,Hamilton,8,Richard Rodgers,Musical,2015
30014,10735,102,22,11/22/2015,1450763,109,11,Hamilton,8,Richard Rodgers,Musical,2015
30052,10739,102,29,11/29/2015,1833886,137,11,Hamilton,8,Richard Rodgers,Musical,2015
30090,10732,102,6,12/06/2015,1613691,121,12,Hamilton,8,Richard Rodgers,Musical,2015
30127,10727,102,13,12/13/2015,1639634,123,12,Hamilton,8,Richard Rodgers,Musical,2015
30163,10728,102,20,12/20/2015,1658598,124,12,Hamilton,8,Richard Rodgers,Musical,2015
30200,10747,102,27,12/27/2015,1844837,138,12,Hamilton,8,Richard Rodgers,Musical,2015
30236,10745,102,3,01/03/2016,1959785,147,1,Hamilton,8,Richard Rodgers,Musical,2016
30273,10757,102,10,01/10/2016,1712792,128,1,Hamilton,8,Richard Rodgers,Musical,2016
30305,10753,102,17,01/17/2016,1769360,133,1,Hamilton,8,Richard Rodgers,Musical,2016
30335,8062,102,24,01/24/2016,1304793,130,1,Hamilton,6,Richard Rodgers,Musical,2016
30366,10748,102,31,01/31/2016,1732653,130,1,Hamilton,8,Richard Rodgers,Musical,2016
30396,10746,102,7,02/07/2016,1771086,133,2,Hamilton,8,Richard Rodgers,Musical,2016
30426,10751,102,14,02/14/2016,1792099,134,2,Hamilton,8,Richard Rodgers,Musical,2016
30456,10756,102,21,02/21/2016,1750924,131,2,Hamilton,8,Richard Rodgers,Musical,2016
30487,10756,102,28,02/28/2016,1755010,131,2,Hamilton,8,Richard Rodgers,Musical,2016
30518,10751,102,6,03/06/2016,1766223,132,3,Hamilton,8,Richard Rodgers,Musical,2016
30550,10756,102,13,03/13/2016,1758555,132,3,Hamilton,8,Richard Rodgers,Musical,2016
30581,10753,102,20,03/20/2016,1740104,130,3,Hamilton,8,Richard Rodgers,Musical,2016
30613,10755,102,27,03/27/2016,1719570,129,3,Hamilton,8,Richard Rodgers,Musical,2016
30648,10752,102,3,04/03/2016,1822594,137,4,Hamilton,8,Richard Rodgers,Musical,2016
30684,10754,102,10,04/10/2016,1813655,136,4,Hamilton,8,Richard Rodgers,Musical,2016
30720,10732,102,17,04/17/2016,1678620,126,4,Hamilton,8,Richard Rodgers,Musical,2016
30757,10753,102,24,04/24/2016,1813024,136,4,Hamilton,8,Richard Rodgers,Musical,2016
30794,10754,102,1,05/01/2016,1818758,136,5,Hamilton,8,Richard Rodgers,Musical,2016
30831,10754,102,8,05/08/2016,1833473,137,5,Hamilton,8,Richard Rodgers,Musical,2016
30867,10736,102,15,05/15/2016,1686168,126,5,Hamilton,8,Richard Rodgers,Musical,2016
30903,10755,102,22,05/22/2016,1764808,132,5,Hamilton,8,Richard Rodgers,Musical,2016
30940,10752,102,29,05/29/2016,1917923,144,5,Hamilton,8,Richard Rodgers,Musical,2016
30977,10756,102,5,06/05/2016,1854989,139,6,Hamilton,8,Richard Rodgers,Musical,2016
31012,10754,102,12,06/12/2016,2028208,152,6,Hamilton,8,Richard Rodgers,Musical,2016
31046,10752,102,19,06/19/2016,2026838,122,6,Hamilton,8,Richard Rodgers,Musical,2016
31079,10732,102,26,06/26/2016,2007222,103,6,Hamilton,8,Richard Rodgers,Musical,2016
31110,10739,102,3,07/03/2016,2022790,104,7,Hamilton,8,Richard Rodgers,Musical,2016
31139,10753,102,10,07/10/2016,2053263,106,7,Hamilton,8,Richard Rodgers,Musical,2016
31169,12053,101,17,07/17/2016,2282207,104,7,Hamilton,9,Richard Rodgers,Musical,2016
31199,10754,102,24,07/24/2016,2046711,105,7,Hamilton,8,Richard Rodgers,Musical,2016
31228,10755,102,31,07/31/2016,2041865,105,7,Hamilton,8,Richard Rodgers,Musical,2016
31254,10756,102,7,08/07/2016,2062862,106,8,Hamilton,8,Richard Rodgers,Musical,2016
31279,10756,102,14,08/14/2016,2045095,105,8,Hamilton,8,Richard Rodgers,Musical,2016

In [25]:
df.loc[df['Gross Potential']==0]

,Attendance,Capacity,Day,Full,Gross,Gross Potential,Month,Name,Performances,Theatre,Type,Year
0,5500,88,26,08/26/1990,134456,0,8,Tru,8,Booth,Play,1990
1,1737,100,24,03/24/1991,100647,0,3,Miss Saigon,0,Broadway,Musical,1991
2,12160,100,31,03/31/1991,634424,0,3,Miss Saigon,0,Broadway,Musical,1991
3,13921,100,7,04/07/1991,713353,0,4,Miss Saigon,0,Broadway,Musical,1991
4,10973,90,14,04/14/1991,573981,0,4,Miss Saigon,4,Broadway,Musical,1991
5,14076,101,21,04/21/1991,706793,0,4,Miss Saigon,8,Broadway,Musical,1991
6,14065,101,28,04/28/1991,714968,0,4,Miss Saigon,8,Broadway,Musical,1991
7,14064,101,5,05/05/1991,730765,0,5,Miss Saigon,8,Broadway,Musical,1991
8,13896,100,12,05/12/1991,766713,0,5,Miss Saigon,8,Broadway,Musical,1991
9,13738,99,19,05/19/1991,763332,0,5,Miss Saigon,8,Broadway,Musical,1991
10,13897,100,26,05/26/1991,769137,0,5,Miss Saigon,8,Broadway,Musical,1991
11,14016,101,2,06/02/1991,774412,0,6,Miss Saigon,8,Broadway,Musical,1991
12,14088,101,9,06/09/1991,771767,0,6,Miss Saigon,8,Broadway,Musical,1991
13,14088,101,16,06/16/1991,770819,0,6,Miss Saigon,8,Broadway,Musical,1991
14,14088,101,23,06/23/1991,771192,0,6,Miss Saigon,8,Broadway,Musical,1991
15,14088,101,30,06/30/1991,777088,0,6,Miss Saigon,8,Broadway,Musical,1991
16,14088,101,7,07/07/1991,779802,0,7,Miss Saigon,8,Broadway,Musical,1991
17,14084,101,14,07/14/1991,782314,0,7,Miss Saigon,8,Broadway,Musical,1991
18,14088,101,21,07/21/1991,781413,0,7,Miss Saigon,8,Broadway,Musical,1991
19,14088,101,28,07/28/1991,786612,0,7,Miss Saigon,8,Broadway,Musical,1991
20,14088,101,4,08/04/1991,782060,0,8,Miss Saigon,8,Broadway,Musical,1991
21,14088,101,11,08/11/1991,781332,0,8,Miss Saigon,8,Broadway,Musical,1991
22,14088,101,18,08/18/1991,784392,0,8,Miss Saigon,8,Broadway,Musical,1991
23,14088,101,25,08/25/1991,786452,0,8,Miss Saigon,8,Broadway,Musical,1991
24,14088,101,1,09/01/1991,786995,0,9,Miss Saigon,8,Broadway,Musical,1991
25,14088,101,8,09/08/1991,783503,0,9,Miss Saigon,8,Broadway,Musical,1991
26,14088,101,15,09/15/1991,781614,0,9,Miss Saigon,8,Broadway,Musical,1991
27,14088,101,22,09/22/1991,780148,0,9,Miss Saigon,8,Broadway,Musical,1991
28,14088,101,29,09/29/1991,776172,0,9,Miss Saigon,8,Broadway,Musical,1991
29,14088,101,6,10/06/1991,775124,0,10,Miss Saigon,8,Broadway,Musical,1991
...,...,...,...,...,...,...,...,...,...,...,...,...
18718,10671,73,15,06/15/2008,900000,0,6,Young Frankenstein,8,Hilton Theatre,Musical,2008
18754,11708,80,22,06/22/2008,949000,0,6,Young Frankenstein,8,Hilton Theatre,Musical,2008
18788,12552,86,29,06/29/2008,892000,0,6,Young Frankenstein,8,Hilton Theatre,Musical,2008
18820,12776,87,6,07/06/2008,892000,0,7,Young Frankenstein,8,Hilton Theatre,Musical,2008
18851,11206,77,13,07/13/2008,951000,0,7,Young Frankenstein,8,Hilton Theatre,Musical,2008
18881,10932,75,20,07/20/2008,990000,0,7,Young Frankenstein,8,Hilton Theatre,Musical,2008
18909,10815,74,27,07/27/2008,1000000,0,7,Young Frankenstein,8,Hilton Theatre,Musical,2008
18936,11023,75,3,08/03/2008,1000000,0,8,Young Frankenstein,8,Hilton Theatre,Musical,2008
18963,10535,72,10,08/10/2008,1005000,0,8,Young Frankenstein,8,Hilton Theatre,Musical,2008
18990,10424,71,17,08/17/2008,784000,0,8,Young Frankenstein,8,Hilton Theatre,Musical,2008
19016,9341,64,24,08/24/2008,681000,0,8,Young Frankenstein,8,Hilton Theatre,Musical,2008
19041,11001,75,31,08/31/2008,813000,0,8,Young Frankenstein,8,Hilton Theatre,Musical,2008
19067,5694,39,7,09/07/2008,433600,0,9,Young Frankenstein,8,Hilton Theatre,Musical,2008
19093,8000,55,14,09/14/2008,591000,0,9,Young Frankenstein,8,Hilton Theatre,Musical,2008
19122,9197,63,21,09/21/2008,686600,0,9,Young Frankenstein,8,Hilton Theatre,Musical,2008
19152,8119,55,28,09/28/2008,574000,0,9,Young Frankenstein,8,Hilton Theatre,Musical,2008
19183,9081,62,5,10/05/2008,599000,0,10,Young Frankenstein,8,Hilton Theatre,Musical,2008
19214,8816,60,12,10/12/2008,592000,0,10,Young Frankenstein,8,Hilton Theatre,Musical,2008
19244,9469,65,19,10/19/2008,660000,0,10,Young Frankenstein,8,Hilton Theatre,Musical,2008
19274,9486,65,26,10/26/2008,669000,0,10,Young Frankenstein,8,Hilton Theatre,Musical,2008
19305,8470,58,2,11/02/2008,570000,0,11,Young Frankenstein,8,Hilton Theatre,Musical,2008
19337,9100,62,9,11/09/2008,645000,0,11,Young Frankenstein,8,Hilton Theatre,Musical,2008
19370,8389,57,16,11/16/2008,560000,0,11,Young Frankenstein,8,Hilton Theatre,Musical,2008
19402,6480,44,23,11/23/2008,433000,0,11,Young Frankenstein,8,Hilton Theatre,Musical,2008
19433,7776,53,30,11/30/2008,621000,0,11,Young Frankenstein,8,Hilton Theatre,Musical,2008
19466,7817,53,7,12/07/2008,595000,0,12,Young Frankenstein,8,Hilton Theatre,Musical,2008
19499,7676,52,14,12/14/2008,550000,0,12,Young Frankenstein,8,Hilton Theatre,Musical,2008
19531,7723,53,21,12/21/2008,550000,0,12,Young Frankenstein,8,Hilton Theatre,Musical,2008
19562,11826,81,28,12/28/2008,785000,0,12,Young Frankenstein,8,Hilton Theatre,Musical,2008
19593,13358,91,4,01/04/2009,860000,0,1,Young Frankenstein,8,Hilton Theatre,Musical,2009

In [116]:
import string
import time
import re
import datetime
import pandas as pd
import numpy as np
import urllib
import requests
from bs4 import BeautifulSoup
import datetime

In [80]:
from bs4 import BeautifulSoup
import requests
import urllib.request
import re

def getLinks_tagged_fast(url, tag):
    r = requests.get(url)
    html_doc = r.text
    soup = BeautifulSoup(html_doc, 'html.parser')
    links = []
    # set the opening of each link to be...
    tag = tag
    for link in soup.findAll('a', attrs={'href': re.compile(tag)}):
        links.append(link.get('href'))
    return links

In [44]:
getLinks_tagged_fast("https://www.broadwayworld.com/grossesbyshow.cfm?letter=", 'a')

['/aroundtheworld/',
 '/off-broadway/',
 '/aroundtheworld/',
 '/national-tours/',
 '/birmingham/',
 '/anchorage/',
 '/costa-mesa/',
 '/los-angeles/',
 '/palm-springs/',
 '/sacramento/',
 '/san-diego/',
 '/san-francisco/',
 '/santa-barbara/',
 '/thousand-oaks/',
 '/delaware/',
 '/miami/',
 '/fort-lauderdale/',
 '/ft-myers-naples/',
 '/jacksonville/',
 '/orlando/',
 '/palm-beach/',
 '/tallahassee/',
 '/tampa/',
 '/atlanta/',
 '/hawaii/',
 '/chicago/',
 '/indianapolis/',
 '/wichita/',
 '/new-orleans/',
 '/maine/',
 '/baltimore/',
 '/minneapolis/',
 '/jackson/',
 '/kansas-city/',
 '/montana/',
 '/omaha/',
 '/new-hampshire/',
 '/las-vegas/',
 '/albuquerque/',
 '/buffalo/',
 '/central-new-york/',
 '/long-island/',
 '/rockland/',
 '/rockland/',
 '/charlotte/',
 '/raleigh/',
 '/fargo/',
 '/cincinnati/',
 '/cleveland/',
 '/dayton/',
 '/oklahoma/',
 '/tulsa/',
 '/portland/',
 '/central-pa/',
 '/philadelphia/',
 '/rhode-island/',
 '/south-carolina/',
 '/sioux-falls/',
 '/nashville/',
 '/austin/',
 '/dallas/',
 '/san-antonio/',
 '/salt-lake-city/',
 '/seattle/',
 '/washington-dc/',
 '/west-virginia/',
 '/appleton/',
 '/madison/',
 '/milwaukee/',
 '/aroundtheworld/',
 '/montreal/',
 '/ottawa/regionalshows.cfm',
 '/vancouver/',
 '/cuba/regionalshows.cfm',
 '/adelaide/',
 '/brisbane/',
 '/australia-melbourne/',
 '/new-zealand/',
 '/austria/',
 '/belgium/regionalshows.cfm',
 '/finland/regionalshows.cfm',
 '/france/regionalshows.cfm',
 '/germany/',
 '/hungary/regionalshows.cfm',
 '/ireland/',
 '/italy/',
 '/luxembourg/regionalshows.cfm',
 '/monaco/',
 '/netherlands/regionalshows.cfm',
 '/norway/',
 '/poland/regionalshows.cfm',
 '/prague/regionalshows.cfm',
 '/scotland/',
 '/spain/',
 '/switzerland/',
 '/argentina/',
 '/brazil/',
 '/colombia/regionalshows.cfm',
 '/venezuela/regionalshows.cfm',
 '/china/',
 '/india/',
 '/indonesia/',
 '/japan/',
 '/malaysia/regionalshows.cfm',
 '/singapore/',
 '/south-korea/regionalshows.cfm',
 '/israel/',
 '/russia/regionalshows.cfm',
 '/south-africa/',
 '/turkey/regionalshows.cfm',
 '/aroundtheworld/',
 '/cabaret/',
 '/bwwclassical/',
 '/bwwdance/',
 '/bwwopera/',
 'https://www.facebook.com/BroadwayWorld',
 'https://www.twitter.com/BroadwayWorld',
 'https://www.instagram.com/officialbroadwayworld/',
 'http://broadwayworld.tumblr.com/',
 '/article/BroadwayWorld-is-Everywhere--Interact-with-Us-With-Apps-Social-Media-Today-20151106',
 '/charitycorner/',
 '/gallerynew.cfm',
 '/tonyawards.cfm',
 '/shows/shows.php?page=shows',
 '/shows/shows-musicals.php',
 '/shows/shows-plays.php',
 '/shows/shows.php?page=oshows',
 '/off-off-broadway/',
 '/shows/shows.php?page=immersive',
 '/cabaret/',
 '/pickashowregional.cfm',
 '/shows/shows.php?page=tour',
 '/shows/shows.php?page=westend',
 '/special-broadway-offers.cfm',
 '/special-broadway-offers.cfm',
 '/special-broadway-offers.cfm',
 '/special-broadway-offers.cfm',
 '/special-broadway-offers.cfm',
 '/special-broadway-offers.cfm',
 '/special-broadway-offers.cfm',
 '/special-broadway-offers.cfm',
 '/special-broadway-offers.cfm',
 '/board/',
 '/westend/board/',
 '/board/index.php?boardname=off',
 '/board/saleboard.cfm',
 '/board/index.php?boardname=student',
 '/classifieds/',
 '/campguide.cfm',
 '/studentcalendar-elementary.cfm',
 '/studentcalendarhighschool.cfm',
 '/tvmainnew.cfm',
 '/tvmainnew.cfm?type=show',
 '/tvmainnew.cfm?type=stagetube',
 '/tvmainnew.cfm?type=red',
 '/tvmainnew.cfm?type=opening',
 '/tvmainnew.cfm?type=press',
 '/topic/Industry-Insight-Cara-Joy-David',
 '/industry-social.cfm',
 '/industry-bww-stats.cfm',
 '/industry-bww-theatres.cfm',
 '/industry-bww-regionals.cfm',
 '/industry/article/How-to-Add-and-Modify-Profiles-and-Productions-in-BroadwayWorlds-Database-20170807',
 '/grossesbyshow.cfm?letter=a',
 '/article/Veteran-Actor-Georgia-Engel-Passes-Away-At-Age-70-20190415',
 '/article/Veteran-Actor-Georgia-Engel-Passes-Away-At-Age-70-20190415',
 '/article/BREAKING-Brooklyn-99s-Stephanie-Beatriz-Joins-The-Movie-Cast-of-IN-THE-HEIGHTS-Olga-Merediz-Daphne-Rubin-Vega-In-Talks-20190412',
 '/article/BREAKING-Brooklyn-99s-Stephanie-Beatriz-Joins-The-Movie-Cast-of-IN-THE-HEIGHTS-Olga-Merediz-Daphne-Rubin-Vega-In-Talks-20190412',
 '/article/BREAKING-Anthony-Ramos-Melissa-Barrera-Corry-Hawkins-Lelie-Grace-Will-Lead-IN-THE-HEIGHTS-FILM-Set-For-2020-Release-20190411',
 '/article/BREAKING-Anthony-Ramos-Melissa-Barrera-Corry-Hawkins-Lelie-Grace-Will-Lead-IN-THE-HEIGHTS-FILM-Set-For-2020-Release-20190411',
 '/article/Tony-Award-Administration-Committee-Rules-BE-MORE-CHILL-KING-KONG-KISS-ME-KATE-New-Rules-for-Plays-20190411',
 '/article/Tony-Award-Administration-Committee-Rules-BE-MORE-CHILL-KING-KONG-KISS-ME-KATE-New-Rules-for-Plays-20190411',
 '/article/Breaking-News-Laurie-Metcalf-and-Eddie-Izzard-to-Star-in-WHOS-AFRAID-OF-VIRGINIA-WOOLF-Revival-20190413',
 '/article/Breaking-News-Laurie-Metcalf-and-Eddie-Izzard-to-Star-in-WHOS-AFRAID-OF-VIRGINIA-WOOLF-Revival-20190413',
 '/article/VIDEO-On-This-Day-April-16--Kelli-OHara-Stars-In-in-THE-KING-AND-I-20190416',
 '/article/VIDEO-Get-A-First-Look-At-TUTS-RAGTIME-20190416',
 '/article/VIDEO-Cher-Joins-THE-CHER-SHOW-Cast-For-Performance-of-I-Got-You-Babe-and-More-on-THE-TONIGHT-SHOW-20190416',
 '/article/VIDEO-On-The-Red-Carpet-At-The-BURN-THIS-Opening-Night-Party-20190415',
 '/article/VIDEO-Watch-Highlights-from-BEETLEJUICE-on-Broadway-20190415',
 '/article/VIDEO-Watch-AMERICAN-IDOL-Contestant-Alyssa-Raghu-Sing-She-Used-To-Be-Mine-From-WAITRESS-20190415',
 '/article/VIDEO-Donald-Trump-Comes-to-the-Stage-in-New-Cantonese-Opera-in-Hong-Kong-20190413',
 '/article/BWW-TV-5-Things-You-Need-to-Know-About-Broadway-Power-Couple-Orfeh-Andy-Karl-20190413',
 '/article/VIDEO-Check-Out-Behind-The-Scenes-Cabaret-Clip-From-Season-Finale-Of-SCHITTS-CREEK-20190412',
 '/article/VIDEO-On-This-Day-April-12--AN-AMERICAN-IN-PARIS-Travels-To-Broadway-20190412',
 '/shows/shows.php?page=shows',
 '/special-broadway-offers.cfm',
 '/special-broadway-offers.cfm',
 '/special-broadway-offers.cfm',
 '/special-broadway-offers.cfm',
 '/special-broadway-offers.cfm',
 'https://www.broadwayworld.com/tvmainnew.cfm',
 'https://www.broadwayworld.com/article/BWW-Exclusive-David-Petros-Broadway-Break-Thru-Failed-to-Pay-Its-Instructors-and-Suspended-for-2019-20190410',
 'https://www.broadwayworld.com/article/Jenn-Colella-and-Charles-Shaughnessy-to-Lead-PETER-PAN-at-Pittsburgh-CLO-20190411',
 'https://www.broadwayworld.com/spain/article/SOM-PRODUCE-convoca-audiciones-para-GREASE-20190410',
 'https://www.broadwayworld.com/central-pa/article/SHREK-Is-Coming-To-Hanover-PA-20190414',
 'https://www.broadwayworld.com/denmark/article/BWW-Review-URINETOWN-THE-MUSICAL-at-Fredericia-Teater-20190413',
 'https://www.broadwayworld.com/article/Joel-Rooks-Barbara-Walsh-Adam-Kaplan-Among-Stars-of-Goodspeeds-HI-MY-NAME-IS-BEN-20190411',
 'https://www.broadwayworld.com/article/BWW-TV-Watch-Casey-Cott-Christian-Borle-Wesley-Taylor-More-Rehearse-for-THE-WHOs-TOMMY-20190412',
 'https://www.broadwayworld.com/toronto/article/Complete-Casting-Announced-For-MAMMA-MIA-at-The-Charlottetown-Festival-20190411',
 'https://www.broadwayworld.com/article/Photo-Coverage-Go-Inside-Rehearsals-for-THE-WHOS-TOMMY-at-The-Kennedy-Center-20190412',
 'https://www.facebook.com/BroadwayWorld',
 'https://www.twitter.com/BroadwayWorld',
 'https://www.instagram.com/officialbroadwayworld/',
 '/article/BroadwayWorld-is-Everywhere--Interact-with-Us-With-Apps-Social-Media-Today-20151106',
 '/bwwclassical/',
 '/bwwdance/',
 '/bwwopera/',
 '/aroundtheworld/',
 '/shows/shows.php?page=shows',
 '/shows/shows.php?page=tour',
 '/pickashowregional.cfm',
 '/cabaret/',
 '/special-broadway-offers.cfm',
 '/classifieds/',
 '/tvmainnew.cfm',
 '/mediakit.cfm',
 '/contact.cfm',
 '/article/Join-the-BWW-Interns-Contributors-Team-20141229',
 '/privacy.cfm',
 'https://www.wisdomdigital.com']

In [112]:
def get_gross_pages(url_base):
    show_links_nested = []
    tag = 'https://www.broadwayworld.com/grosses/'
    page_base = url_base
    abc = list(string.ascii_lowercase)
    abc.append('1')
    list_loop_az =[]
    for a in abc:
        list_loop_az.append(page_base+a)

    for page in list_loop_az:
        show_links_nested.append(getLinks_tagged_fast(page, tag))
        show_links = sum(show_links_nested, [])
    
    return show_links

In [113]:
show_links=get_gross_pages("https://www.broadwayworld.com/grossesbyshow.cfm?letter=")

In [278]:
len(show_links)

1206

In [165]:
show_names=[]
for link in show_links:
    show_names.append(link.replace('https://www.broadwayworld.com/grosses/',''))
show_names[0:6]

['A-BEHANDING-IN-SPOKANE',
 'A-BRONX-TALE',
 'A-BRONX-TALE-THE-MUSICAL',
 'A-CATERED-AFFAIR',
 'A-CHANGE-IN-THE-HEIR',
 'A-CHORUS-LINE']

In [171]:
gross_links=[]
for name in show_names:
    url='https://www.broadwayworld.com/grossesshow.cfm?show={}&year=2019&allall=on'.format(name)
    gross_links.append(url)
gross_links[0:10]

['https://www.broadwayworld.com/grossesshow.cfm?show=A-BEHANDING-IN-SPOKANE&year=2019&allall=on',
 'https://www.broadwayworld.com/grossesshow.cfm?show=A-BRONX-TALE&year=2019&allall=on',
 'https://www.broadwayworld.com/grossesshow.cfm?show=A-BRONX-TALE-THE-MUSICAL&year=2019&allall=on',
 'https://www.broadwayworld.com/grossesshow.cfm?show=A-CATERED-AFFAIR&year=2019&allall=on',
 'https://www.broadwayworld.com/grossesshow.cfm?show=A-CHANGE-IN-THE-HEIR&year=2019&allall=on',
 'https://www.broadwayworld.com/grossesshow.cfm?show=A-CHORUS-LINE&year=2019&allall=on',
 'https://www.broadwayworld.com/grossesshow.cfm?show=A-Chorus-Line-Original&year=2019&allall=on',
 'https://www.broadwayworld.com/grossesshow.cfm?show=A-CHRISTMAS-CAROL&year=2019&allall=on',
 'https://www.broadwayworld.com/grossesshow.cfm?show=A-CHRISTMAS-STORY&year=2019&allall=on',
 'https://www.broadwayworld.com/grossesshow.cfm?show=A-CLASS-ACT&year=2019&allall=on']

In [229]:
df=pd.read_html(gross_links[0])[4:][0]

In [230]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Week,#,This Week'sGross,Diff $,PotentialGross,Gross % Potential,Avg.Paid,Top Ticket,SeatsSold,TotalSeats,Per,This Week,Diff %
1,2/21/10,8,"$455,335","$455,335","$933,200",48.79%,$62.03,$200.00,7340,8568,8,85.7%,0%
2,2/28/10,9,"$413,686","$-41,649","$933,200",44.33%,$60.16,$200.00,6876,8568,8,80.3%,80.3%
3,3/07/10,10,"$432,187","$18,501","$933,200",46.31%,$55.95,$200.00,7725,8568,8,90.2%,9.9%
4,3/14/10,11,"$554,397","$122,210","$940,690",58.94%,$74.69,$200.00,7423,8568,8,86.6%,-3.6%

In [232]:
df = df.drop(df.index[0])
cols = ['Week','Week_Numer', 'Gross', 'Gross_Diff', 'Pot_Gross',
        'Potential_Gross_Percent','Average_Paid_Ticket', 'Top_Ticket','Seats_Sold',
        'Total_Seats', 'Performances','Capacity', 'Capacity_Diff']
df.columns = cols
df

,Week,Week_Numer,Gross,Gross_Diff,Pot_Gross,Potential_Gross_Percent,Average_Paid_Ticket,Top_Ticket,Seats_Sold,Total_Seats,Performances,Capacity,Capacity_Diff
2,2/28/10,9,"$413,686","$-41,649","$933,200",44.33%,$60.16,$200.00,6876,8568,8,80.3%,80.3%
3,3/07/10,10,"$432,187","$18,501","$933,200",46.31%,$55.95,$200.00,7725,8568,8,90.2%,9.9%
4,3/14/10,11,"$554,397","$122,210","$940,690",58.94%,$74.69,$200.00,7423,8568,8,86.6%,-3.6%
5,3/21/10,12,"$539,372","$-15,025","$940,690",57.34%,$77.34,$200.00,6974,8568,8,81.4%,-5.2%
6,3/28/10,13,"$489,726","$-49,646","$940,690",52.06%,$78.78,$200.00,6216,8568,8,72.5%,-8.9%
7,4/04/10,14,"$524,859","$35,133","$940,690",55.80%,$76.87,$200.00,6828,8568,8,79.7%,7.2%
8,4/11/10,15,"$489,587","$-35,272","$940,690",52.05%,$75.74,$200.00,6464,8568,8,75.4%,-4.3%
9,4/18/10,16,"$402,160","$-87,427","$940,690",42.75%,$75.52,$200.00,5325,8568,8,62.1%,-13.3%
10,4/25/10,17,"$415,523","$13,363","$940,690",44.17%,$74.86,$200.00,5551,8568,8,64.8%,2.7%
11,5/02/10,18,"$384,849","$-30,674","$940,690",40.91%,$69.40,$200.00,5545,8568,8,64.7%,-0.1%
12,5/09/10,19,"$414,898","$30,049","$940,690",44.11%,$73.17,$200.00,5670,8568,8,66.2%,1.5%
13,5/16/10,20,"$432,442","$17,544","$940,690",45.97%,$74.30,$200.00,5820,8568,8,67.9%,1.7%
14,5/23/10,21,"$442,947","$10,505","$940,690",47.09%,$71.03,$200.00,6236,8568,8,72.8%,4.9%
15,5/30/10,22,"$428,934","$-14,013","$940,690",45.60%,$72.26,$200.00,5936,8568,8,69.3%,-3.5%
16,6/06/10,23,"$483,113","$54,179","$940,690",51.36%,$77.40,$200.00,6242,8568,8,72.9%,3.6%
17,Week,#,Grosses,Diff $,PotentialGross,Gross % of Potential,Avg.Paid,Top Ticket,SeatsSold,TotalSeats,Per,This Week %,Diff %
18,TOTAL FOR YEAR,NaN,"$7,304,015",NaN,NaN,48.60% AVG.,$71.84 AVG.,$200.00 AVG.,102171,137088,128,74.53%AVG.,NaN

In [233]:
df = df[:-2]
df

,Week,Week_Numer,Gross,Gross_Diff,Pot_Gross,Potential_Gross_Percent,Average_Paid_Ticket,Top_Ticket,Seats_Sold,Total_Seats,Performances,Capacity,Capacity_Diff
2,2/28/10,9,"$413,686","$-41,649","$933,200",44.33%,$60.16,$200.00,6876,8568,8,80.3%,80.3%
3,3/07/10,10,"$432,187","$18,501","$933,200",46.31%,$55.95,$200.00,7725,8568,8,90.2%,9.9%
4,3/14/10,11,"$554,397","$122,210","$940,690",58.94%,$74.69,$200.00,7423,8568,8,86.6%,-3.6%
5,3/21/10,12,"$539,372","$-15,025","$940,690",57.34%,$77.34,$200.00,6974,8568,8,81.4%,-5.2%
6,3/28/10,13,"$489,726","$-49,646","$940,690",52.06%,$78.78,$200.00,6216,8568,8,72.5%,-8.9%
7,4/04/10,14,"$524,859","$35,133","$940,690",55.80%,$76.87,$200.00,6828,8568,8,79.7%,7.2%
8,4/11/10,15,"$489,587","$-35,272","$940,690",52.05%,$75.74,$200.00,6464,8568,8,75.4%,-4.3%
9,4/18/10,16,"$402,160","$-87,427","$940,690",42.75%,$75.52,$200.00,5325,8568,8,62.1%,-13.3%
10,4/25/10,17,"$415,523","$13,363","$940,690",44.17%,$74.86,$200.00,5551,8568,8,64.8%,2.7%
11,5/02/10,18,"$384,849","$-30,674","$940,690",40.91%,$69.40,$200.00,5545,8568,8,64.7%,-0.1%
12,5/09/10,19,"$414,898","$30,049","$940,690",44.11%,$73.17,$200.00,5670,8568,8,66.2%,1.5%
13,5/16/10,20,"$432,442","$17,544","$940,690",45.97%,$74.30,$200.00,5820,8568,8,67.9%,1.7%
14,5/23/10,21,"$442,947","$10,505","$940,690",47.09%,$71.03,$200.00,6236,8568,8,72.8%,4.9%
15,5/30/10,22,"$428,934","$-14,013","$940,690",45.60%,$72.26,$200.00,5936,8568,8,69.3%,-3.5%
16,6/06/10,23,"$483,113","$54,179","$940,690",51.36%,$77.40,$200.00,6242,8568,8,72.9%,3.6%

In [255]:
df['Show_Name'] =gross_links[0].replace('https://www.broadwayworld.com/grossesshow.cfm?show=','').replace('&year=2019&allall=on','').replace('-',' ').title()

In [260]:
df.reset_index(drop=True)

,Week,Week_Numer,Gross,Gross_Diff,Pot_Gross,Potential_Gross_Percent,Average_Paid_Ticket,Top_Ticket,Seats_Sold,Total_Seats,Performances,Capacity,Capacity_Diff,Show_Name
0,2/28/10,9,"$413,686","$-41,649","$933,200",44.33%,$60.16,$200.00,6876,8568,8,80.3%,80.3%,A Behanding In Spokane
1,3/07/10,10,"$432,187","$18,501","$933,200",46.31%,$55.95,$200.00,7725,8568,8,90.2%,9.9%,A Behanding In Spokane
2,3/14/10,11,"$554,397","$122,210","$940,690",58.94%,$74.69,$200.00,7423,8568,8,86.6%,-3.6%,A Behanding In Spokane
3,3/21/10,12,"$539,372","$-15,025","$940,690",57.34%,$77.34,$200.00,6974,8568,8,81.4%,-5.2%,A Behanding In Spokane
4,3/28/10,13,"$489,726","$-49,646","$940,690",52.06%,$78.78,$200.00,6216,8568,8,72.5%,-8.9%,A Behanding In Spokane
5,4/04/10,14,"$524,859","$35,133","$940,690",55.80%,$76.87,$200.00,6828,8568,8,79.7%,7.2%,A Behanding In Spokane
6,4/11/10,15,"$489,587","$-35,272","$940,690",52.05%,$75.74,$200.00,6464,8568,8,75.4%,-4.3%,A Behanding In Spokane
7,4/18/10,16,"$402,160","$-87,427","$940,690",42.75%,$75.52,$200.00,5325,8568,8,62.1%,-13.3%,A Behanding In Spokane
8,4/25/10,17,"$415,523","$13,363","$940,690",44.17%,$74.86,$200.00,5551,8568,8,64.8%,2.7%,A Behanding In Spokane
9,5/02/10,18,"$384,849","$-30,674","$940,690",40.91%,$69.40,$200.00,5545,8568,8,64.7%,-0.1%,A Behanding In Spokane
10,5/09/10,19,"$414,898","$30,049","$940,690",44.11%,$73.17,$200.00,5670,8568,8,66.2%,1.5%,A Behanding In Spokane
11,5/16/10,20,"$432,442","$17,544","$940,690",45.97%,$74.30,$200.00,5820,8568,8,67.9%,1.7%,A Behanding In Spokane
12,5/23/10,21,"$442,947","$10,505","$940,690",47.09%,$71.03,$200.00,6236,8568,8,72.8%,4.9%,A Behanding In Spokane
13,5/30/10,22,"$428,934","$-14,013","$940,690",45.60%,$72.26,$200.00,5936,8568,8,69.3%,-3.5%,A Behanding In Spokane
14,6/06/10,23,"$483,113","$54,179","$940,690",51.36%,$77.40,$200.00,6242,8568,8,72.9%,3.6%,A Behanding In Spokane

In [280]:
df

,Week,Week_Numer,Gross,Gross_Diff,Pot_Gross,Potential_Gross_Percent,Average_Paid_Ticket,Top_Ticket,Seats_Sold,Total_Seats,Performances,Capacity,Capacity_Diff,Show_Name
1,4/15/90,15,"$20,776","$20,776",$0,NaN,$0.00,$0.00,1944,0,7,0%,0%,A Change In The Heir
2,4/22/90,16,"$16,909","$-3,867",$0,NaN,$0.00,$0.00,1750,0,8,0%,0%,A Change In The Heir
3,4/29/90,17,"$29,921","$13,012",$0,NaN,$0.00,$0.00,1904,0,8,0%,0%,A Change In The Heir
4,5/06/90,18,"$13,761","$-16,160",$0,NaN,$0.00,$0.00,1846,0,8,0%,0%,A Change In The Heir
5,5/13/90,19,"$4,390","$-9,371",$0,NaN,$0.00,$0.00,601,0,8,0%,0%,A Change In The Heir

In [274]:
cols = ['Week','Week_Numer', 'Gross', 'Gross_Diff', 'Pot_Gross',
            'Potential_Gross_Percent','Average_Paid_Ticket', 'Top_Ticket','Seats_Sold',
            'Total_Seats', 'Performances','Capacity', 'Capacity_Diff']

In [287]:
dfs = []

for url in gross_links[0:]:
    try:
        df = pd.read_html(url)[4:][0]
        df = df.drop(df.index[0])
        df = df[:-2]
        df.columns = cols
        df['Show_Name'] =url.replace('https://www.broadwayworld.com/grossesshow.cfm?show=','').replace('&year=2019&allall=on','').replace('-',' ').title()
        dfs.append(df)
        broadway_gross = pd.concat(dfs)
        time.sleep(0.1)
    except:
        pass 
today = datetime.date.today().strftime('%m-%d-%Y') 
output_file = 'broadway_grosses {}.csv'.format(today)
broadway_gross.to_csv(output_file)

In [288]:
len(broadway_gross['Show_Name'].unique())

1202

In [311]:
broadway_gross=pd.read_csv('broadway_grosses 04-16-2019.csv',index_col=0)

In [315]:
broadway_gross=broadway_gross.reset_index(drop=True)

In [320]:
broadway_gross[broadway_gross['Show_Name']=='Chicago'].tail()

,Week,Week_Numer,Gross,Gross_Diff,Pot_Gross,Potential_Gross_Percent,Average_Paid_Ticket,Top_Ticket,Seats_Sold,Total_Seats,Performances,Capacity,Capacity_Diff,Show_Name
9775,3/17/19,11,"$614,657","$55,683","$967,724",63.52%,$84.34,$187.00,7288,8640,8,84.4%,3.5%,Chicago
9776,3/24/19,12,"$655,088","$40,431","$967,724",67.69%,$85.22,$187.00,7687,8640,8,89%,4.6%,Chicago
9777,3/31/19,13,"$592,228","$-62,860","$967,724",61.20%,$83.04,$187.00,7132,8640,8,82.5%,-6.5%,Chicago
9778,4/07/19,14,"$539,907","$-52,322","$960,444",56.21%,$83.50,$187.00,6466,8640,8,74.8%,-7.7%,Chicago
9779,4/14/19,15,"$630,708","$90,801","$960,444",65.67%,$84.57,$187.00,7458,8640,8,86.3%,11.5%,Chicago

In [351]:
broadway_gross['Gross']=broadway_gross['Gross'].str.replace('$','').str.replace(',','')
broadway_gross['Gross']=broadway_gross['Gross'].astype(float)

In [352]:
broadway_gross['Gross_Diff']=broadway_gross['Gross_Diff'].str.replace('$','').str.replace(',','')
broadway_gross['Gross_Diff']=broadway_gross['Gross_Diff'].astype(float)

In [353]:
broadway_gross['Pot_Gross']=broadway_gross['Pot_Gross'].str.replace('$','').str.replace(',','')
broadway_gross['Pot_Gross']=broadway_gross['Pot_Gross'].astype(float)

In [354]:
broadway_gross['Potential_Gross_Percent']=broadway_gross['Potential_Gross_Percent'].str.replace('%', '')
broadway_gross['Potential_Gross_Percent']=broadway_gross['Potential_Gross_Percent'].astype(float)

In [355]:
broadway_gross['Potential_Gross_Percent']=broadway_gross['Potential_Gross_Percent']/100

In [357]:
broadway_gross['Average_Paid_Ticket']=broadway_gross['Average_Paid_Ticket'].str.replace('$', '')
broadway_gross['Average_Paid_Ticket']=broadway_gross['Average_Paid_Ticket'].astype(float)

In [359]:
broadway_gross['Top_Ticket']=broadway_gross['Top_Ticket'].str.replace('$', '')
broadway_gross['Top_Ticket']=broadway_gross['Top_Ticket'].astype(float)

In [364]:
broadway_gross['Capacity']=broadway_gross['Capacity'].str.replace('%', '')
broadway_gross['Capacity']=broadway_gross['Capacity'].astype(float)

In [366]:
broadway_gross['Capacity']=broadway_gross['Capacity']/100

In [368]:
broadway_gross['Capacity_Diff']=broadway_gross['Capacity_Diff'].str.replace('%', '')
broadway_gross['Capacity_Diff']=broadway_gross['Capacity_Diff'].astype(float)

In [369]:
broadway_gross['Capacity_Diff']=broadway_gross['Capacity_Diff']/100

In [375]:
import time
from datetime import date, datetime
broadway_gross.Week=pd.to_datetime(broadway_gross['Week'])
broadway_gross['Year'] = broadway_gross['Week'].dt.year
broadway_gross['Month'] = broadway_gross['Week'].dt.month

In [464]:
month = broadway_gross.Month
season=[]

for i in month:
    if i==3 or i==4 or i==5:
        season.append('Spring') # spring 
    elif i>=6 and i<=8:
        season.append('Summer') # summer
    elif i>=9 and i<=11:
        season.append('Fall') # fall
    else:
        season.append('Winter') # winter

In [467]:
broadway_gross['Season']=season

In [482]:
broadway_df=broadway_gross[(broadway_gross['Year']>=2008) & (broadway_gross['Year']<2019)]

In [507]:
broadway_df=broadway_df.drop(columns=['Gross_Diff','Performances','Capacity_Diff','Week_Numer']).sort_values(by='Week').set_index('Week')